<h1>{{title}}</h1>
<div class="card-header" style="display: inline-flex;width: 100%;">
    <div>
        <a href="/" style="margin: 10px;">Home</a>
        <a routerLink="productlist" style="margin: 10px;">Products</a>
        <a routerLink="newproduct" style="margin: 10px;">Add New Product</a>
        <a routerLink="order" style="margin: 10px;">My Orders</a>
    </div>    
    <div style="margin-left: 50%;text-align: right;align-items: flex-end;padding-left: 80px;">
        <button  class="btn btn-primary" (click)=sellout() >Logout</button>
    </div>
    

</div>
