<div class="container">
    <div class="page-header">
        <h1>Invoice Template </h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 body-main">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4"> <img class="img"  alt="Invoce Template" src="http://pngimg.com/uploads/shopping_cart/shopping_cart_PNG59.png" /> </div>
                        <div class="col-md-8 text-right">
                            <h4 style="color: #F81D2D;"><strong>Shop Ezy</strong></h4>
                        </div>
                    </div> <br />
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2>Order Id</h2>
                            <h5>{{userid1}}</h5>
			</div>
                    </div> <br />
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <h5>Description</h5>
                                    </th>
                                    <th>
                                        <h5>Amount</h5>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of products">
                                    <td class="col-md-9">{{product.productName}}</td>
                                    <td class="col-md-3"><i class="fas fa-rupee-sign" area-hidden="true"></i>{{product.price}}</td>
                                </tr>
                                
                                <tr>
                                    <td class="text-right">
                                        
                                        <p> <strong>Total Amount: </strong> </p>
                                        
                                    </td>
                                    <td>
                                        <p> <strong><i class="fas fa-rupee-sign" area-hidden="true"></i> {{total}} </strong> </p>
                                    </td>
                                </tr>
                                <tr style="color: #F81D2D;">
                                    <td class="text-right">
                                        <h4><strong>Total:</strong></h4>
                                    </td>
                                    <td class="text-left">
                                        <h4><strong><i class="fas fa-rupee-sign" area-hidden="true"></i> {{total}} </strong></h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <div class="col-md-12">
                            <p><b>Time :</b> {{date1 | date:'shortTime'}}</p> <br />
                            <p><b>please collect it after 30mins</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>